/* ===== PROJECT HEADER =====*/
.my-padding{
    margin-bottom: 4rem;
}

.project-subtitle{
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.case-study{
    margin-bottom: 3rem;
}

.list{
    line-height: 2.5rem;
}
