/* ===== PROJECT HEADER =====*/
.my-padding{
    margin-bottom: 4rem;
}

.project-subtitle{
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.case-study{
    margin-bottom: 3rem;
}

.list{
    line-height: 2.5rem;
}

.link{
    font-weight: 700;
}

.ava{
    
    display: block;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.wireframe{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.prototype{
    margin-top: 5rem;
}